<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container-fluid">
    <header><%- include('../partials/header'); %></header>
    <div><%- include('../partials/searchbar'); %></div>
    <div class="row">
      <div class="col-md-3"><%- include('../partials/sidebar'); %></div>
      <div class="col-md-6">
        <div class="jumbotron">
          <h1>Favourites</h1>
          <p>Favourites Page</p>
        </div>
      </div>
    </div>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
