<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="container-fluid">
      <div><%- include('../partials/header'); %></div>
      <div class="row mt-5">
        <div class="col-3 position-fixed mt-5 pt-3">
          <%- include('../partials/sidebar'); %>
        </div>
        <div class="col-9 themed-grid-col offset-3 mt-5 pt-3">
            <h1>Favourites</h1>
            <%- include('../partials/displayroom'); %>
          </div>
        </div>
      </div>
    </div>
    <footer class="mt-auto"><%- include('../partials/footer'); %></footer>
  </body>
</html>
